// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 20px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 35px;
    display: flex;
  }
  
 .card-header {
    background-color: #f2f2f2;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


  .card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

.banner {
    background-color: #f0f0f0;
    height: 400px;
    position: relative;
}

.card-body {
    padding: 20px;
}

.card-footer{
    padding: 20px;
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: 800;
    
  }
  
.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.polite-card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    max-width: 600px;
    box-shadow: 0px 4px 4px #91919130, 0px 12px 12px #a3a3a315;

  }
  .css-card {
    padding: 20px;
  }
  .polite-card img {
    border-radius: 0px;
    width: 100%;
  }
  
  .btn{
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    background: 007bff;
    color: #fff;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    text-align: center;
    
  }

  .polite-card:hover{
    scale: 1.05;
    transition: 0.4s ease-in-out;
}

.btn-outline-danger{
    color: black;
    height: 32px;
    width: 64px;
}

.btn-outline-danger:hover{
    color: #fff;
    background-color: red;
}

.btn:hover{
    transition: 0.2s ease-in-out;

}

.crispy-fill{
    border: solid 1px (#537fe7);
    box-shadow: 0 2px (#537fe7);
  }

  .crispy-fill:hover {
    box-shadow: 0 4px (#537fe7);
}
  