// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
    background-image: url("https://sb.kaleidousercontent.com/67418/1920x1280/166659692b/ella-olsson-opbjwbccaeo-unsplash.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-blend-mode:screen;
    background-color: rgb(236, 159, 141);
    background-attachment: fixed;
    background-position-y: 42%;;
}

a {
    text-decoration: wavy;
    font-size: 20px;
    color: #c55d2d;
}

h2 {
    font-family: "Inter";

}
.container {
    border-radius: 20px;
    background-color: white;
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    margin-top: 40px;
    box-shadow: 0px 4px 4px #11111130, 0px 12px 12px #53535315;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
  
.card {
    border-radius: 5px;
    padding: 35px;
    display: flex;
    background-color: white;
    border-style: none;
}
  
.card-header {
    background-color: #f2f2f2;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    background: linear-gradient(#fff5ed, #ffffff);
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.card-header:first-child { 
    border-radius: 8px;
    border-style: none;

}

.card-header-index {
    padding-bottom: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}

.card-header-index img{
    margin-top: 10px;
    background-color: #f2f2f2;
}

.card p {
    font-size: 16px;
    color: #666;
    padding-top: 10px;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
  
.card-text {
    font-size: 14px;
    font-family: "Inter";
}
  
.btn-primary {
    background-color: #e78253;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    font-family: "Inter";

}
.btn-primary:hover {
    background-color: #db5c21;

}

.banner {
    background-color: #d6a48d;
    height: 240px;
    position: relative;
    border-radius: 16px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0.5;
}

.card-body {
    margin-top: 15px;
    border-radius: 10px;
    color: #666;

}

.card-footer:last-child {
    border-radius: 10px;
    border-style: none;

}

.card-footer{
    padding: 20px;
    display: flex;
    justify-content: end;
    margin-top: 15px;
    border-radius: 10px;
    background: linear-gradient(#ffffff, #fff5ed);

}

.btn-lg {
    margin-top: 25px;
    width: 100%;
    background-color: #e78253;
    font-family: "Inter";
}

.btn-lg:hover{
    background-color: #c55d2d;
    border-color: #c55d2d;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: 800;
    font-size: 48px;
    font-family: "Inter";
    color: white;
    text-align: center;
    background-color: #ab3303c7;
  }
  


.polite-card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#fff5ed, #ffffff);
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    box-shadow: 0px 4px 4px #91919130, 0px 12px 12px #a3a3a315;
    font-family: "Inter";
}

.polite-card:hover {
   scale: 1.05;
   background: linear-gradient(#ffddc2, #fff5ee);
   transition: 0.4s ease-in-out;
}

.css-card {
    padding: 20px;
}

.polite-card img {
    border-radius: 0px;
    width: 100%;
}
  
.btn {
    display: inline-block;
    text-decoration: none;
    background: 007bff;
    color: #fff;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    text-align: center;
    font-family: "Inter";    
}

.btn-primary {
--bs-btn-active-color: #491b00;
--bs-btn-active-bg: #ffffff;
}

.btn-outline-danger {
   color: black;
   font-family: "Inter";
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: red;
}

.btn-outline-secondary {
    color: black;
    font-family: "Inter";
}

.btn:hover {
    transition: 0.2s ease-in-out;

}

.crispy-fill {
    border: solid 1px (#e78253);
    box-shadow: 0 2px (#e77153);
}

.crispy-fill:hover {
    box-shadow: 0 4px (#e77153);
}

.moody {
    box-shadow: 0 0 8px #ffd8d1;
}

.moody:hover {
    box-shadow: 0 0 24px #df9b7b;
    transition: 0.3s ease-in-out;
}
