// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
    background-image: url("https://sb.kaleidousercontent.com/67418/1920x1280/166659692b/ella-olsson-opbjwbccaeo-unsplash.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-blend-mode:overlay;
    background-color: rgb(29, 34, 41); 
}

.container {
    border-radius: 20px;
    background-color: white;
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    margin-top: 40px;
    box-shadow: 0px 4px 4px #11111130, 0px 12px 12px #53535315;
}

a {
    text-decoration: wavy;
    font-size: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
  
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 35px;
    display: flex;
}
  
.card-header {
    background-color: #f2f2f2;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.card-header:first-child { 
    border-radius: 8px;
}

.card-header-index {
    
    padding-bottom: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}

.card-header-index img{
    margin-top: 10px;
    background-color: #f2f2f2;
}

.card p {
    font-size: 16px;
    color: #666;
    padding-top: 10px;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
  
.card-text {
    font-size: 14px;
}
  
.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.banner {
    background-color: #f0f0f0;
    height: 240px;
    position: relative;
    border-radius: 16px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
}

.card-body {
    margin-top: 15px;
    border-radius: 10px;

}

.card-footer{
    padding: 20px;
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.btn-lg {
    margin-top: 25px;
    width: 100%;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: 800;
    font-size: 48px;
    color: white;
    background-color: #000000;
  }
  


.polite-card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#d3eaff, #f7fbff);
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    box-shadow: 0px 4px 4px #91919130, 0px 12px 12px #a3a3a315;

  }
  .css-card {
    padding: 20px;
  }
  .polite-card img {
    border-radius: 0px;
    width: 100%;
  }
  
  .btn{
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    background: 007bff;
    color: #fff;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    text-align: center;
    
  }

  .polite-card:hover{
    scale: 1.05;
    transition: 0.4s ease-in-out;
}

.btn-outline-danger{
    color: black;

}

.btn-outline-danger:hover{
    color: #fff;
    background-color: red;
}

.btn-outline-secondary{
    
    color: black;
}

.btn:hover{
    transition: 0.2s ease-in-out;

}

.crispy-fill{
    border: solid 1px (#537fe7);
    box-shadow: 0 2px (#537fe7);
  }

  .crispy-fill:hover {
    box-shadow: 0 4px (#537fe7);
}

.moody{
    box-shadow: 0 0 8px #e3eeff;
  }

.moody:hover {
    box-shadow: 0 0 24px #96d1ec;
    transition: 0.2s ease-in-out;
}